@page "/Session12/OneWayBinding"
<h3>OneWayBinding</h3>
<div class="form-group">
    <label for="FullName">FullName</label>
    <input type="text" id="FullName" value="@FullName" />
</div>

<div class="form-group">
    <label for="Age">FullName</label>
    <input type="text" id="Age" value="@Age" />
</div>

<p class="lead">@FullName <br /> @Age</p>

@code {
    private string FullName { get; set; } = "Bill Gates";
    private int Age { get; set; } = 60;
}
